<br/>
<div class="row">
    <div class="col-md-12 col-md-offset-4">
        <div class="input-group">
            <form id="form-container">
                <div id="searchtext">
                    <input type="text" size="40" class="search-input" value="" name="s" id="s" placeholder="Search user..." ng-model="subscriptionsCtrl.searchText">
                    <a id="clear_input" ng-show="subscriptionsCtrl.searchText.length > 0" ng-click="subscriptionsCtrl.cancelSearch()">
                        <i class="fa fa-times"></i>
                    </a>
                    <button class="search-submit-button" type="submit" ng-click="subscriptionsCtrl.search()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="subscriptionsCtrl.data.length == 0">
    <br/>
    <h2 class="text-muted text-center">
        Your subscriptions is empty. Try to <a ui-sref="Subscribe">subscribe to someone</a>.
    </h2>
</div>
<div infinite-scroll="subscriptionsCtrl.getUsers()">
    <div class="container" style="margin-top: 20px" ng-repeat="user in subscriptionsCtrl.data | orderBy: '-CreatedAt' | filterBy: ['Name', 'Surname', 'UserName']: subscriptionsCtrl.usersFilter ">
        <div class="row panel cards" style="background-color: #fcfafa;">
            <div class="col-md-4 bg_blur ">
                <button class="follow_btn hidden-xs" ng-click="subscriptionsCtrl.unfollowUser(user.UserId, user.UserName)" title="Unfollow from user">Unfollow</button>
            </div>
            <div class="col-md-8  col-xs-12">
                <img src="/Content/Icons/user.jpg" class="img-thumbnail picture hidden-xs" title="{{user.Name}} {{user.Surname}}"/>
                <div class="header">
                    <h1>
                        <span ng-bind="user.Name"></span> <span ng-bind="user.Surname"></span>
                    </h1>
                    <h4>@<span ng-bind="user.UserName"></span></h4>
                    <span ng-bind="user.Description"></span>
                    <h5 title="Location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <span ng-bind="user.City"></span>
                    </h5>
                    <h5 title="Web site">
                        <i class="fa fa-link" aria-hidden="true" title="Web Site"></i><a target="_blank" href="http://{{user.WebSite}}">
                            <span ng-bind="user.WebSite"></span>
                        </a>
                    </h5>
                    <h5 title="{{user.CreatedAt | date:'dd-MM-yyyy HH:mm'}}"><i class="fa fa-calendar-o" aria-hidden="true"></i> Joined: <span ng-bind="user.CreatedAt | date:'dd-MM-yyyy'"></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>